<%- include('header') -%>

<section class="event">
  <div class="event__info">
    <h1 class="event__title"><%= userinn.name %></h1>
    <p class="event__description"><%= userinn.username %></p>
    <p class="event__description"><%= userinn.admin %></p>
  </div>
  </div>
  <div class="link">
    <a class="link__link" href="/">Til baka</a>
  </div>
</section>

<%- include('footer') -%>
